@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #373435;
  margin: 0;
  color: white;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 25px;
}

.no-padding {
  padding: 0;
}

ul {
  list-style: none;
}

.dev-info p {
  font-size: 13px;
}

.google-map {
  display: flex;
  width: 100%;
  height: 300px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 200px;
  padding-right: 200px;
}
.heading h1 {
  text-transform: uppercase;
  margin-bottom: 15px;
}
.heading p {
  color: #9c9c9c;
  text-align: center;
}

.default-page-padding {
  padding: 25px;
  padding-top: 170px;
  padding-bottom: 170px;
}

.content-section {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.bold {
  font-weight: bold;
}

.mobile-navbar {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  padding: 25px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
@media screen and (max-width: 500px) {
  .navbar {
    display: none;
  }
}
.navbar #nav-menu-items {
  display: none;
}
.navbar .nav-menu {
  position: absolute;
  right: 100px;
}
.navbar .nav-menu img {
  width: 50px;
  height: 50px;
}
.navbar .nav-menu:hover {
  cursor: pointer;
}

.navbar .brand-logo {
  position: relative;
  width: 100px;
}

.navbar .brand-logo img {
  width: 100px;
  height: 100px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}
@media screen and (max-width: 500px) {
  .navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.navbar ul li {
  margin-right: 15px;
  display: flex;
}
.navbar ul li .navbar-sub-menu {
  display: none;
  background-color: #caa86a;
  position: absolute;
  top: 90px;
  min-width: 200px;
  max-width: 300px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar ul li .navbar-sub-menu li {
  border-bottom-color: #3734353b;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.navbar ul li .navbar-sub-menu li a {
  font-size: 15px;
  text-transform: capitalize;
}
.navbar ul li:hover .navbar-sub-menu {
  display: block;
}

.navbar-white-color ul li a {
  color: white !important;
}
.navbar-white-color ul li a:visited {
  color: white !important;
}
.navbar-white-color ul li a:hover {
  color: white !important;
}

.navbar ul li a {
  font-size: 22px;
  text-transform: uppercase;
  color: black;
}
.navbar ul li a:visited {
  color: black;
}
.navbar ul li a:hover {
  color: black;
  text-decoration: none;
}

.navbar-icon-down-arrow {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .mobile-navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding-top: 25px;
    padding-left: 10px;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .mobile-navbar ul {
    width: 100%;
    padding-left: 10%;
  }
  .mobile-navbar ul li {
    border-bottom-color: #cecece;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 10px;
  }
  .mobile-navbar ul li a {
    font-weight: bold;
    font-size: 32px;
  }
  .mobile-navbar ul li ul {
    background-color: transparent;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .mobile-navbar ul li ul li {
    border: none;
  }
  .mobile-navbar ul li ul li a {
    color: gray;
    font-size: 20px;
  }
  .mobile-navbar ul li ul li a:hover {
    color: black;
  }
  .mobile-navbar ul li ul li a:active {
    color: gray;
  }
  .mobile-navbar ul li ul li a:visited {
    color: gray;
  }
  .mobile-navbar .nav-menu {
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: black;
    width: 100px;
    height: 100px;
  }
  .mobile-navbar .nav-menu img {
    width: 100%;
  }
}
.products-family-section {
  padding: 25px;
}
.products-family-section .heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.products-family-section .heading h1 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #d2ae6d;
}
.products-family-section .products-group-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.products-family-section .products-group-image img {
  width: 250px;
  height: 250px;
}
.products-family-section .products-group-image h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #d2d3d5;
}
.products-family-section .products-group-image p {
  text-align: center;
  color: #9c9c9c;
}

.footer-section {
  background-color: #d2ae6d;
  padding: 25px;
  color: #373435;
}
.footer-section h1 {
  color: #373435;
  text-transform: uppercase;
  font-size: 20px;
}
.footer-section ul li {
  margin-bottom: 5px;
}
.footer-section ul li a {
  color: black;
}
.footer-section ul li a:visited {
  color: black;
}
.footer-section ul li a:hover {
  color: black;
}
.footer-section .social-link-icon {
  border-radius: 3px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.footer-section .heart-icon-footer {
  width: 30px;
  height: 30px;
}

.products-section {
  padding: 25px;
  padding-top: 150px;
  padding-bottom: 150px;
}
.products-section h1 {
  color: #d2d3d5;
}
.products-section p {
  color: #9c9c9c;
}
.products-section .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.products-section .heading h1 {
  color: #d2d3d5;
  text-transform: uppercase;
  font-weight: bold;
}
.products-section .heading p {
  color: #9c9c9c;
}
.products-section .product {
  margin-top: 30px;
  margin-bottom: 30px;
}
.products-section .product .product-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products-section .product .product-image img {
  width: 300px;
  height: 300px;
}

.form-heading {
  font-size: 32px;
  color: #d2ae6d;
  text-transform: uppercase;
}

.form-control {
  border-radius: 0px;
  background-color: #9c9c9c;
  color: black;
}

.btn-primary {
  color: #fff;
  background-color: #d2ae6d;
  border-color: #d2ae6d;
}
.btn-primary:hover {
  background-color: #3bb0ef;
  border-color: #d2ae6d;
}

.trade-enquiry-section {
  padding: 25px;
  padding-top: 170px;
  padding-bottom: 170px;
}
.trade-enquiry-section .stick-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.trade-enquiry-section .stick-right button {
  text-transform: uppercase;
}
.trade-enquiry-section .trade-form {
  padding-left: 250px;
  padding-right: 250px;
}

.our-usp {
  padding: 25;
  padding-top: 170px;
  padding-bottom: 170px;
  padding-left: 200px;
  padding-right: 200px;
}
.our-usp .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.our-usp .heading h1 {
  color: #d2d3d5;
  text-transform: uppercase;
}
.our-usp .heading p {
  color: #9c9c9c;
  text-align: center;
}
.our-usp p {
  color: #9c9c9c;
  text-align: center;
}
.our-usp .usp-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.our-usp .usp-block img {
  width: 100px;
  height: 100px;
}
.our-usp .usp-block h1 {
  color: #d2ae6d;
}
.our-usp .usp-block p {
  color: #9c9c9c;
}

.certification-secction .heading h1 {
  color: #d2d3d5;
}
.certification-secction h1 {
  text-align: center;
  color: #d2ae6d;
}
.certification-secction p {
  text-align: center;
  color: #d2d3d5;
}
.certification-secction .our-certificate {
  margin-top: 10px;
  margin-bottom: 10px;
}
.certification-secction .our-certificate .certificate-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 25px;
  height: 300px;
}
.certification-secction .our-certificate .certificate-image .color-blue {
  background-color: #0f3fab;
  width: 70%;
  padding: 5px;
}
.certification-secction .our-certificate .certificate-image img {
  width: 100px;
  height: 100px;
  margin-bottom: 12px;
}
.certification-secction .our-certificate .certificate-image h1 {
  color: black;
  font-size: 14px;
}
.certification-secction .our-certificate .certificate-image p {
  color: #5d5d5d;
  font-size: 13px;
}
.certification-secction .our-certificate .certificate-info {
  font-size: 30px;
}
.certification-secction .our-certificate .certificate-info p {
  color: #9c9c9c;
}

.career-section .faqs h1 {
  color: #d2ae6d;
}
.career-section .faqs p {
  font-size: 13px;
  color: #9c9c9c;
}

.our-journey-section .spacer-small {
  margin-top: 50px;
}
.our-journey-section .year {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 50px;
}
.our-journey-section .year h1 {
  font-size: 52px;
  padding-bottom: 50px;
  color: #d2ae6d;
}
.our-journey-section .company-info .company-content h1 {
  margin-bottom: 10px;
}
.our-journey-section .company-info .company-content p {
  font-size: 23px;
  color: #d2ae6d;
  font-family: monospace;
  text-align: center;
}
.our-journey-section .company-info .company-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.our-journey-section .company-info .company-image img {
  width: 70%;
}
.our-journey-section .company-info .company-image p {
  font-size: 12px;
  padding-top: 5px;
  color: #d2d3d5;
}

.contact-page-section {
  padding-left: 100px;
  padding-right: 100px;
}
.contact-page-section h1 {
  text-transform: uppercase;
}
.contact-page-section p {
  color: #9c9c9c;
}
.contact-page-section .google-map iframe {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
