.certification-secction{
  .heading {
    h1{
      color: $color-gray;
    }
  }
  h1{
    text-align: center;
    color: $color-brown;
  }
  p{
    text-align: center;
    color: $color-gray;
  }

  .our-certificate{
    margin-top: 10px;
    margin-bottom: 10px;

    .certificate-image{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      padding: 25px;
      height: 300px;
      .color-blue{
        background-color: #0f3fab;
        width: 70%;
        padding: 5px;
      }
      img{
        width: 100px;
        height: 100px;
        margin-bottom: 12px;
      }
      h1{
        color: black;
        font-size: 14px;
      }
      p{
        color: #5d5d5d;
        font-size: 13px;
      }
    }
    .certificate-info{
      font-size: 30px;
      p{
        color: $color-gray-lite;
      }
    }

  }

}
