.contact-page-section{
  padding-left: 100px;
  padding-right: 100px;
  h1{
    text-transform: uppercase;
  }
  p{
    color: $color-gray-lite;
  }
  .google-map{
    iframe{
      width: 100%;
    }
  }
}
