.form-heading{
  font-size: 32px;
  color: $color-brown;
  text-transform: uppercase;
}
.form-control{
  border-radius: 0px;
  background-color: $color-gray-lite;
  color: black;
}

.btn-primary {
    color: #fff;
    background-color: $color-brown;
    border-color: $color-brown;
    &:hover{
      background-color: $color-blue;
      border-color: $color-brown;
    }
}
