$mobilescreen: 500px;
$navbar-color: transparent;
$navbar-padding: 25px;
$navbar-item-font-size: 22px;
.mobile-navbar{
  display: none;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: $navbar-color;
  padding: $navbar-padding;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;

  @media screen and (max-width: $mobilescreen){
    display: none;

  }
  #nav-menu-items{
    display: none;
  }
  .nav-menu{
    position: absolute;
    right: 100px;
    img{
      width: 50px;
      height: 50px;
    }
    &:hover{
      cursor: pointer;
    }
  }
}
.navbar .brand-logo{
  position: relative;
  width: 100px;



}
.navbar .brand-logo img{
  width: 100px;
  height: 100px;
}
.navbar ul{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;

  @media screen and (max-width: $mobilescreen){
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.navbar ul li{
  margin-right: 15px;
  display: flex;

  .navbar-sub-menu{
    display: none;
    background-color: #caa86a;
    position: absolute;
    top: 90px;
    min-width: 200px;
    max-width: 300px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    li{
      border-bottom-color: #3734353b;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      a{
        font-size: 15px;
        text-transform: capitalize;
      }
    }
  }
  &:hover{
    .navbar-sub-menu {
      display: block;

    }
  }
}
.navbar-white-color {
  ul{
    li{
      a{
        color: white !important;
        &:visited{
          color: white !important;
        }
        &:hover{
          color: white !important;
        }
      }
    }
  }
}
.navbar ul li a{
  font-size: $navbar-item-font-size;
  text-transform: uppercase;
  color: black;

  &:visited{
    color: black;
  }
  &:hover{
    color: black;
    text-decoration: none;

  }
}

.navbar-icon-down-arrow{
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: $mobilescreen) {
  .mobile-navbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding-top: 25px;
    padding-left: 10px;
    position: fixed;
    width: 80%;
    height: 100%;
    z-index: 1;
    overflow-y: scroll;
    // overflow-x: hidden;
    ul{
      width: 100%;
      padding-left: 10%;
      li{
        border-bottom-color: #cecece;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        margin-bottom: 10px;
        a{
          font-weight: bold;
          font-size: 32px;
        }
        ul{
          background-color: transparent;
          margin-left: 5px;
          margin-top: 5px;
          margin-bottom: 5px;
          li{
            border: none;
            a{
              color: gray;
              font-size: 20px;
              &:hover{
                color: black;
              }
              &:active{
                color: gray;
              }
              &:visited{
                color: gray;
              }
            }
          }
        }
      }
    }
    .nav-menu{
      position: fixed;
      right: 0px;
      top: 0px;
      background-color: black;
      width: 100px;
      height: 100px;
      img{
        width: 100%;
      }
    }
  }
}
