.our-journey-section{
  .spacer-small{
    margin-top: 50px;
  }
  .year{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 50px;
    h1{
      font-size: 52px;
      padding-bottom: 50px;
      color: $color-brown;
    }
  }
  .company-info{

    .company-content{
      h1{
        margin-bottom: 10px;

        @media screen and (max-width: $mobilescreen){
          margin-top: 15px;
          font-size: 20px;
        }
      }
      p{
        font-size: 23px;
        color: $color-brown;
        font-family: monospace;
        text-align: center;
        @media screen and (max-width: $mobilescreen){
          margin-top: 15px;
          font-size: 14px;
        }
      }
    }
    .company-image{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      @media screen and (max-width: $mobilescreen){
        min-height: 300px;
      }
      img{
        width: 70%;
      }
      p{
        font-size: 12px;
        padding-top: 5px;
        color: $color-gray;
      }
    }
  }
}
