.products-section{
  padding: 25px;
  padding-top: 150px;
  padding-bottom: 150px;
  h1{
    color: $color-gray;
  }
  p{
    color: $color-gray-lite;
  }
  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    h1{
      color: $color-gray;
      text-transform: uppercase;
      font-weight: bold;
    }
    p{
      color: $color-gray-lite;
    }
  }
  .product{
    margin-top: 30px;
    margin-bottom: 30px;
    .product-image{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img{
        width: 300px;
        height: 300px;
      }
    }
  }

}
