.trade-enquiry-section{
  padding: 25px;
  padding-top: 170px;
  padding-bottom: 170px;
  @media screen and (max-width: $mobilescreen){
    padding: 15px;
  }
  .stick-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    button{
      text-transform: uppercase;
    }
  }
  .trade-form{
    padding-left: 250px;
    padding-right: 250px;
    @media screen and (max-width: $mobilescreen){
      padding: 0px;
      padding-bottom: 20px;
    }
  }
}
