$page-background: #373435;

$delault-color: white;
$color-brown: #d2ae6d;
$color-blue: #3bb0ef;
$color-black: #373435;
$color-gray: #d2d3d5;
$color-gray-lite: #9c9c9c;

$heading-size: 25px;
$heading-color: $color-gray;

$paragraph-color: $color-gray-lite;

$font-family: 'Roboto', sans-serif;

$mobilescreen: 500px;
